*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: rgb(238, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background-color: rgb(171, 241, 171);
  width: 320px;
  padding: 30px 60px;
  border-radius: 6px;
  box-shadow: 25px 20px 35px rgba(0, 0, 0, 0.1);
}

h1{
  text-align: center;
  color: rgb(32, 32, 32);
}

p{
  text-align: center;
  color: rgb(146, 146, 146);
}

form{
  font-weight: 500;
  margin-top: 15px;
}

label{
  font-weight: 200;
  font-size: 18px;
  color: rgb(53, 53, 53);
}

input, textarea, button{
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  padding: 6px;
  border-color: rgb(197, 196, 196);
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid #b4b4b4 ;
  margin-top: 3px;
}

button{
  font-size: 21px;
  margin-top: 5px;
  color: #ffffff;
  background-color: rgb(96, 96, 250);

}


.fn, .ea, .sub, .cn, .ym, .smt{
  display: grid;
  margin: 10px;
}

button:hover{
  color: #000000;
  cursor: pointer;
}

textarea{
  resize: none;
}

input:focus, textarea:focus{
  outline-color: #b4b4b4;
}